.cardContainer {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 1px 40px 0 rgba(39, 42, 235, 0.09);
  padding: 20px;
  transition: box-shadow 200ms;
}
.cardContainer:hover {
  box-shadow: 0 1px 40px 0 rgba(39, 42, 235, 0.2);
}
.cardTitle {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  color: var(--font-color-700);
}
