.container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.icon {
  font-size: 60px;
}

.title {
  color: var(--font-color-700);
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.desc {
  color: var(--font-color-500);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.goBackButton {
  padding: 6px 20px;
  background-color: var(--primary-color);
  transition: background-color 200ms;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.goBackButton:hover {
  background-color: var(--primary-color-hover);
}
