@font-face {
  font-family: 'iconfont'; /* Project id 3677100 */
  src: url('//at.alicdn.com/t/c/font_3677100_avel3bv6qq.woff2?t=1664440518125')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3677100_avel3bv6qq.woff?t=1664440518125')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3677100_avel3bv6qq.ttf?t=1664440518125')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: '\e6a6';
}

.icon-warning:before {
  content: '\e737';
}

.icon-warning1:before {
  content: '\e63f';
}

.icon-about:before {
  content: '\e6e5';
}

.icon-wechat-:before {
  content: '\e621';
}

.icon-github:before {
  content: '\e651';
}

.icon-bilibili:before {
  content: '\e609';
}

.icon-juejin:before {
  content: '\e60b';
}

.icon-favorites-fill:before {
  content: '\e721';
}

.icon-arrow-right:before {
  content: '\e743';
}

.icon-link:before {
  content: '\e756';
}

.icon-Rightarrow:before {
  content: '\e761';
}

.icon-all-fill:before {
  content: '\e777';
}

.icon-home-fill:before {
  content: '\e7ae';
}
